@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script>
        var k;
        $(function () {
            $("#search").keypress((event) => {
                if (event.which == 32 && $("#search").val().length > 3) {
                    searchForResults();
                }
                clearTimeout(k);
                if (event.which != 32) {
                    k = setTimeout(() => searchForResults(), 2000);
                }
            });
        });


        function renderResult(field) {

            return `
                <div class="col-sm-12">
                <h4>`+ field["Title"] +`</h4>
                <p>`+ field["Description"] +`</p>
                <a href="`+ field["Url"] + `">` + field["Url"] +`</a>
                <p><small>Author: `+field["Author"]+` at `+field["PublishedAt"]+`</small></p>
                </div>
            `;

        }

        function renderWords(i, field) {
            return `
                <div class="col">
                    `+field+`
                </div>
            `;
        }

        function searchForResults() {
            $("#results").empty();
            $.getJSON("/Home/searchResults?searchTerm=" + $("#search").val().trim(), (result) => {
                $.each(result, (i, field) => {
                    $("#results").append(renderResult(field));
                });
            }).done(() => searchForWords());
        }

        function searchForWords() {
            $("#words").empty();
            console.log($("#search").val().trim());
            $.getJSON("/Home/searchWord/" + $("#search").val().trim(), (result) => {
                $.each(result, (i, field) => {
                    $("#words").append(renderWords(i, field));
                });
            });
        }
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (ViewBag.apikey == null || ViewBag.apikey == "")
    {
        <form>
            <input type="text" name="apikey" value="" />
            <input type="submit" />

        </form>
    }
    else
    {
<div class="container">
    <input type="text" id="search" name="search" value="" />

    <div class="row" id="words">

    </div>

    <div class="row" id="results">

    </div>
    <p id="reslist"></p>
</div>
    }
</div>
