@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script>

    </script>
}

<div class="text-center">
    <h2 class="display-4">News</h2>
    @if (ViewBag.apikey == null || ViewBag.apikey == "")
    {
        <form>
            <input type="text" name="apikey" value="" />
            <input type="submit" value="Set apikey" />

        </form>
    }
    else
    {
<div class="container">
    <input type="text" id="search" name="search" value="" />

    <div class="row" id="words">

    </div>

    <div class="row" id="results">

    </div>
    <p id="reslist"></p>
</div>
    }
</div>
